
<% @posts.each do |post| %>
  <div class="row well" style="margin:0">
    <div class="col-md-2">
      <h3 id="post<%= post.id.to_s %>"><%= post.upvotes_count %></h3>
      <%= link_to 'upvote', post_upvotes_path(post.id), class: "btn btn-xs btn-info", method: :post, remote: true %>
    </div>
    <div class="col-md-10">
      <%= link_to post.title, post_path(post.id) %>
      <br>
      <small>created <b><%= time_ago_in_words(post.created_at) %></b> ago by <span style="color: red"><%= post.user.nickname %></span>
      <br>
      <%= comment_info(post.comments_count) %>
      </small>

    </div>
  </div>
<% end %>

<%= will_paginate @posts %>
